@page "/Account/Manage/Friends"

@using GameCatcher.Data
@using GameCatcher.DatabaseService
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject GameCatcher.DatabaseService.IFriendService FriendService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Friends</PageTitle>

<h3>Friends</h3>

<div class="mb-4">
    <EditForm Model="Friend" OnSubmit="HandleAddFriend" FormName="addFriend">
        <InputText id="friendId" class="form-control d-inline-block w-75" placeholder="Enter friend's User ID"
            @bind-Value="Friend.FriendId" />
        <button type="submit" class="btn btn-primary ms-2">Add Friend</button>
    </EditForm>
</div>

@if (friends.Count == 0)
{
    <p>You have no friends added yet.</p>
}
else
{
    <ul class="list-group">
        @foreach (var friend in friends)
        {
            <li class="list-group-item">
                @friend.UserName
            </li>
        }
    </ul>
}

@code {
    private ApplicationUser user = default!;
    private List<ApplicationUser> friends = new();

    [SupplyParameterFromForm]
    private FriendInputModel Friend { get; set; } = new();

    public string UserId { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userPrincipal = authState.User;
        var userId = userPrincipal.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        UserId = userId ?? "";

        if (!string.IsNullOrEmpty(UserId))
        {
            friends = await FriendService.GetFriendsByUserId(UserId);
        }
    }

    private async Task HandleAddFriend()
    {
        await FriendService.AddFriend(UserId, Friend.FriendId);
    }

    public class FriendInputModel
    {
        public string FriendId { get; set; } = "";
    }
}